@import "reset.css";
@import "TypoColor.scss";

* {
  font-family: "orkneyregular";
  color: $lightGrey;
}

body {
  background-color: $base;
}

.header {
  height: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5vw;
}
