@import "../TypoColor.scss";

.list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  font-size: large;
  li {
    margin-right: 20px;
    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: inherit;
    }
  }
  li:last-child {
    margin-right: 0; // Removes margin for the last item
  }
}

.logo {
  width: auto;
  height: 70%;
  fill: $accent;
}

.orange {
  color: $accent;
}

.link {
  height: 80%;
}
