@import "../TypoColor.scss";

.text {
  width: 50vw;
  text-align: right;
  height: 70vh;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 2vw;
  p {
    font-family: "orkneybold";
    font-size: 6rem;
    color: $accent;
    line-height: 0.8;
  }
}

.card {
  width: 50vw;
  height: 70vh;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    object-fit: contain;
    height: 100%;
    width: auto;
  }
}
